:root {
    --menu-color: #fff;
    --menu-background-color: #0d47a1;

    --global-background-color: #e3f2fd;
    --global-headline-color: #3c3b3b;
    --global-subheadline-color: #555;

    --desktop-component-padding-v: 2rem;
    --desktop-component-padding-h: 2rem;

    --sidebar-border-color: #ccc;
    --sidebar-article-color: #555;

    --site-footer-color: #555;
    --site-footer-border-color: var(--sidebar-border-color);

    --post-border-color: rgb(160, 160, 160, 0.3);
    --post-description-color: #666;
    --post-backgroound-color: #fff;
    --post-main-headline-color: #0d3781;

    --tag-color: var(--post-description-color);
    --tag-border-color: var(--post-border-color);
    --tag-background-color: rgba(230, 230, 230, 0.4);

    --button-border-color: var(--post-border-color);
    --button-text-color: rgba(0, 0, 0, 0.5);

    --border-color: rgba(160, 160, 160, 0.5);
    --section-border-color: rgba(230, 230, 230);
    --headline-color: #ba3925;
    --link-color: #2156a5;
    --background-color: #e3f2fd;
    --header-background-color: #0d47a1;
    --description-color: #666;
    --tag-color: var(--description-color);
    --listingblock-pre-bg-color: #f7f7f8;
    --preamble-background-color: #f7f7f8;
    --caption-color: #555;

    --quote-color: #e0e0e0;

    --tip-icon-color: #0d47a1;
    --warning-icon-color: #bf0000;
    --caution-icon-color: #ffb117;
    --note-icon-color: #0d47a1;
    --important-icon-color: #dc3545;

    --xlarge-width: 1680px;
    --large-width:  1280px;
    --medium-width:	980px;
    --small-width:	736px;
    --xsmall-width:	480px;
}

html {
    font-size: 16px;
}
body {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    background-color: var(--global-background-color);
    -webkit-font-smoothing: antialiased;

    box-sizing: border-box;
}

/* base links style */
a {
    color: inherit;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline dotted 1px;
    }

pre {
    display: table;
    table-layout: fixed;
    width: 100%;
}

/*
 ====================================================================
 Some Documentation
 ====================================================================
 IDs: We use ids because most tags such as footer and header but main
 can be used more than once.
*/

/*
==================================================================
 Site Menu, the top bar
==================================================================
*/
#site-menu {
    grid-area: menu;

    background-color: var(--menu-background-color);
    color: var(--menu-color);

    font-size: 1rem;
    letter-spacing: 0.15em;

    padding: 0 1rem;
    line-height: 3;

    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
}
    #site-menu #drawer {
        display: none;
    }
    #site-menu .burger {
        width: 2rem;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        margin-right: 1rem;
    }
    #site-menu .menu {
    }
    #site-menu .menu h1 {
        font-size: 1rem;
        text-transform: uppercase;
        display: inline-block;
        padding-right: 1rem;
        line-height: 1;
    }
        @media screen and (max-width: 990px) {
            #site-menu .menu h1 {
                display: none;
            }
        }

    #site-menu .menu .items {
        display: inline-block;
    }
    #site-menu .menu .item {
        line-height: 1;
        display: inline-block;
        padding-right: 1rem;
    }
        #site-menu .menu .item i {
            padding-right: 1rem;
        }
        #site-menu .menu .item:not(:last-child) {
            margin-right: 1rem;
        }
        #site-menu .menu .item:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }


/* this is the large title and social links */
/* it might live visually "in the sidebar" or on top */
#site-header {
    grid-area: header;
    padding: var(--desktop-component-padding-v)
             var(--desktop-component-padding-h)
             0
             var(--desktop-component-padding-h);

}
    @media screen and (max-width: 1280px) {
        #site-header {
            text-align: center;
            margin: 0 auto;
            padding-top: calc(var(--desktop-component-padding-v) / 2);
        }
    }

    #site-header .title {
        letter-spacing: 0.2rem;
    }
        @media screen and (max-width: 980px) {
            #site-header .logo {
                display: none;
            }
        }
        #site-header .title h1 {
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;
            color: var(--global-headline-color);
        }
        #site-header .title .subtitle {
            text-transform: uppercase;
            color: var(--global-subheadline-color);
        }
        @media screen and (max-width: 1280px) {
            #site-header .title h1 {
                margin-bottom: 0;
            }
            #site-header .title .subtitle {
                margin-top: 0;
            }
        }
        #site-header .icons {
            color: var(--global-subheadline-color);
        }
            #site-header .icons ul {
                padding-left: 0;
                list-style: none;
            }
                #site-header .icons ul li {
                    display: inline-block;
                    padding-right: 0.5rem;
                }

#site-sidebar {
    grid-area: sidebar;
    padding: var(--desktop-component-padding-v)
             var(--desktop-component-padding-h);
    color: var(--sidebar-article-color);
    max-width: 62.5rem;
}
    #site-sidebar h2 {
        font-size: 1.5rem;
        letter-spacing: normal;
        font-weight: 500;
        margin-bottom: 0.5ex;
    }
    #site-sidebar .pinned-posts {
        padding-bottom: var(--desktop-component-padding-v);
    }
        #site-sidebar .pinned-posts article {
            color: var(--sidebar-article-color);
        }
            #site-sidebar .pinned-posts article h3 {
                font-size: 1rem;
                letter-spacing: normal;
                margin-bottom: 0;
            }
            #site-sidebar .pinned-posts article:not(:first-child) h3 {
                margin-top: 2ex;
            }
            #site-sidebar .pinned-posts article time {
                font-size: 0.8rem;
            }
            #site-sidebar .pinned-posts article .excerpt {
                color: var(--sidebar-article-color);
                padding: 0;
                margin: 0;
            }
    #site-sidebar .about, #site-sidebar .pinned-posts {
        border-top: 1px solid var(--sidebar-border-color);
    }

/* the main content area with the articles or a single one, depending on
   the context */
#main-content {
    grid-area: content;

    padding: var(--desktop-component-padding-v)
             calc(var(--desktop-component-padding-h) / 2);

     max-width: 62.5rem;
     width: 100%;
     margin: 0 auto;
     box-sizing: border-box; /* makes the 100% easier to set */
}
    @media screen and (max-width: 1280px) {
        #main-content {
            padding: 0
                     calc(var(--desktop-component-padding-h) / 2)
                     var(--desktop-component-padding-v)
                     calc(var(--desktop-component-padding-h) / 2);
        }
        .single-post #main-content {
            padding: var(--desktop-component-padding-v)
                     calc(var(--desktop-component-padding-h) / 2)
                     var(--desktop-component-padding-v)
                     calc(var(--desktop-component-padding-h) / 2);
        }
    }

#site-footer {
    grid-area: footer;
    font-size: 0.8em;
    color: var(--site-footer-color);
    text-align: center;
    padding: 0 var(--desktop-component-padding-h);
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

#grid-container {
    display: grid;
    grid-template-columns: 28em auto auto;
    grid-template-rows: auto minmax(0, auto) minmax(0, 100fr) auto;
    grid-template-areas:
        "menu menu menu"
        "header content content"
        "sidebar content content"
        ". footer footer";
}
    #grid-container.single-post {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "menu"
            "header"
            "content"
            "sidebar"
            "footer";
    }
    @media screen and (max-width: 1280px) {
        #grid-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:
                "menu"
                "header"
                "content"
                "sidebar"
                "footer";
        }
    }


/* the general styling of a post */
.post {
    margin: 0 0 1rem 0;
    padding: 2rem;

    background: var(--post-backgroound-color);
    border: solid 1px var(--post-border-color);
}
    .post:last-child {
        margin-bottom: 0;
    }
    .post header {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2ex;
        border-bottom: 1px solid var(--post-border-color);
        align-items: flex-end;
        padding-bottom: 0.5rem;
    }
        .post header p {
    		font-size: 0.7em;
    		font-weight: 400;
    		letter-spacing: 0.25em;
    		line-height: 1.25;
    	}

    .post .title {
        padding: 0;
        margin: 0;
    }
        .post .title h1 {
            font-weight: 400;
            font-size: 1.9rem;
            letter-spacing: -.02em;
            padding: 0;
            margin: 0;
            line-height: 1.2;
            color: var(--post-main-headline-color);
        }
        .post .title .description {
            padding: 0.25rem 0 0 0;
            margin: 0;
            font-size: 1rem;
            letter-spacing: normal;
            color: var(--post-description-color);
        }
    .post .meta {
        color: var(--post-description-color);
        text-align: right;
        flex-basis: auto;
        font-size: 0.9em;
        padding-left: 3em;
        letter-spacing: 0.01em;
        white-space: nowrap;
    }
    .post p.continue-reading {
        text-align: right;
        margin-top: 2ex;
    }
        .post p.continue-reading a:hover {
            color: var(--link-color);
        }
        .post p.continue-reading i {
            margin-left: 0.5rem;
        }
    .post footer {
        display: flex;
        justify-content: flex-start;
        margin-top: 1ex;
        border-top: 1px solid var(--post-border-color);
        padding-top: 1rem;
    }
    .post .content {
        font-family: "Noto Sans", sans-serif;
    }
        .post .content .featured {
            width: 100%;
            margin-bottom: 1rem;
        }
        .post .content .featured img {
            overflow: hidden;
            width: 100%;
            max-width: 100%;
        }

ul.tags {
    list-style: none;
    padding-left: 0;
    color: var(--tag-color);
    margin: 0;
    font-size: 0.9rem;
}
    ul.tags li {
        display: inline-block;
        border: 1px solid var(--tag-border-color);
        background-color: var(--tag-background-color);
        border-radius: 0.5em;
        padding: 0.5ex 1em;
        margin-right: 0.5rem;
    }

/* The pagination section below posts */
.pagination {
    padding-top: 1ex;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
    .pagination .button {
        line-height: 2.5em;
        white-space: normal;
        padding: 1ex  3em;
        background: white;
        font-size: 0.9rem;
        font-weight: 400;
        border: 1px solid var(--button-border-color);
        color: var(--button-text-color);
    }
    .pagination a.button:hover {
        text-decoration: none;
    }
        .pagination .button.disabled {
            visibility: hidden;
        }
    .pagination .button:hover:not(.disabled) {
        color: var(--link-color);
        box-shadow: inset 0 0 0 1px var(--link-color);
    }
    .pagination .pageinfo {
        font-size: 1rem;
        font-weight: 400;
    }
